@use "../abstracts";
%flexItemsCenter {
    display: flex;
    align-items: center;
}

header {
    background: var(--header-bg-color);
    @include abstracts.screen(lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
    }
}

.top-bar {
    position: relative;
    @extend %flexItemsCenter;

    padding: 25px 0;

    @include abstracts.screen(lg) {
        padding: 20px 0;
    }

    
    @include abstracts.screen(md) {
        justify-content: space-between;
        padding: 16px 0; 
    }

    &__more {
        display: none;
        
        @include abstracts.screen(lg) {
            display: block;
        }
    }
}

.navbar {
    margin-left: 114px;

    @include abstracts.screen(xl) {
        margin-left: 50px;
    }

    @include abstracts.screen(lg) {
        display: none;
    }

    &__list {
        @extend %flexItemsCenter;
    }

    &__link {
        @extend %flexItemsCenter;
        column-gap: 6px;

        padding: 0 15px;
        height: 50px;
        // color: var(--text-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }
    }

    &__arrow {
        margin-top: 3px;
    }
}

.top-act {
    @extend %flexItemsCenter;

    margin-left: auto;
    column-gap: 20px;

    @include abstracts.screen(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemsCenter;

        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow); 
        
        @include abstracts.screen(md) {
            display: none;
        }
    }

    &__group--single {
        @include abstracts.screen(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemsCenter;
        
        padding: 13px 20px;
        column-gap: 10px;
        cursor: pointer;
    }

    &__title {
        // color: var(--text-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        box-shadow: 0px 4px 14px 2px var(--top-act-user-shadow);
        cursor: pointer;
    }
}
