<nav class="navbar">
    <ul class="navbar__list">
        <li>
            <a href="#!" class="navbar__link">
                Departments
                
                <img src="./icon/arrow-down.svg" alt="" class="icon navbar__arrow">
            </a>
        </li>
        <li>
            <a href="#!" class="navbar__link">
                Grocery
                <img src="./icon/arrow-down.svg" alt="" class="icon navbar__arrow">
            </a>
        </li>
        <li>
            <a href="#!" class="navbar__link">
                Beauty
                <img src="./icon/arrow-down.svg" alt="" class="icon navbar__arrow">
            </a>
        </li>
    </ul>
</nav>