{{>head/header}}
<div class="container home">
    {{!-- Slideshow  --}}
    {{>slide/slideshow}}
     {{!-- Browse Categories --}}
    {{>cate/categories}}
    {{!-- Browse Products --}}
    {{>products/list_products}}
</div>
{{>foo/footer}}
