<section class="home__container">
    <div class="home__row">
        <h2 class="home__heading">Total LavAzza 1320</h2>
       {{>filter/filter_product}}
    </div>
    <div class="row row-cols-4 row-cols-xl-3 row-cols-lg-2 row-cols-sm-1 g-3 g-md-2">
        {{#each products}}
            {{>products/card_product}}
        {{/each}}    
    </div>
</section>

